# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Unity cache / artifacts
*.csproj
*.sln
*.user
*.unityproj
*.booproj
*.pidb
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Visual Studio / IDE generated
*.slnx


# Addressables / streaming cache (optional)
# [Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/addressables_content_state.bin
