.filemanager-root {
  flex-direction: column;
  flex-grow: 1;
}

.filemanager-header {
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.filemanager-back {
  width: 64px;
  margin-right: 8px;
}

.filemanager-path {
  font-size: 12px;
}

.filemanager-entries {
  flex-grow: 1;
  padding: 8px;
}

.filemanager-entry {
  justify-content: flex-start;
  margin-bottom: 6px;
}

.filemanager-entry-dir {
  -unity-font-style: bold;
}
